/* ================================
 * ASOIAF despoiler
 *
 * CSS enhancements for /r/asoiaf
 *
 * by /u/nowonmai666
 *
 * http://nowonmai666.github.com/asoiaf-extensions
 * 
 * ================================ */

/* Fixes are for v3.0 of /r/asoiaf stylesheet */

/* Clean white background */

body, .content { background: white!important; }

/* Get Rid of Boxes */
.link {
	border: 0!important;
	margin-bottom: 16px!important;
}

/* Improve visibility of tiny low-contrast text */
 
.domain a { color: black !important; }

/* unhide various UI elements */

#sr-header-area {
    visibility: visible!important;
}
.entry .buttons li a {
    visibility: visible!important;
}

/* Tone down flairs */

.res .author.moderator {
    padding: 2px!important;
    background-color: transparent!important;
    border 1px solid #53a93f!important;
    border-radius: 2px!important;
    color: #53a93f!important;
}

.res .author.submitter {
    padding: 1px 3px 1px 1px!important;
    background-color: rgba(71,122,173,1)!important;
    border-radius: 3px!important;
    color: #fff!important;
}

.linkflair-mod .linkflairlabel {
    background-color: transparent!important;
    color: rgba(62,128,47,0.6)!important;
    border-radius: 2px!important;
    border-color: rgba(62,128,47,0.6)!important;
}

.linkflair-all .linkflairlabel {
    background-color: transparent!important;
    color: rgba(71,122,173,0.6)!important;
    border-radius: 2px!important;
    border-color: rgba(71,122,173,0.6)!important;
}
.linkflair-agot .linkflairlabel,
.linkflair-acok .linkflairlabel,
.linkflair-asos .linkflairlabel,
.linkflair-affc .linkflairlabel,
.linkflair-dae .linkflairlabel,
.linkflair-none .linkflairlabel,
.linkflair-adwd .linkflairlabel {
    background-color: transparent!important;
    border: 1px solid rgba(215,61,50,0.6)!important;
    color: rgba(215,61,50,0.6)!important;
}


/*make quotes look more quotey */
blockquote p {
	padding-left: 30px!important;
	color: #666;
}

/* fix comment form so RES enhancements don't overlap */

.usertext-edit { margin-top: 20px!important }

/* Undo some more bad decisions */

.comments-page .tagline a {letter-spacing: 0px!important;}

.tabmenu li a { font-size: 16px!important }

/* Remove the honking great image from the sidebar */

div.md { 
	background-image: none!important;
	padding-top: 0px!important
}

/*
================================
*
* Change mish-mash of fonts to the same stack of tolerable sans-serif faces.
*
================================ */
 
body, 
.error, 
#sr-header-area, 
#sr-header-area a, 
#sr-header-area .dropdown.srdrop, 
.drop-choices, 
#header .tabmenu, 
.tabmenu li a, 
.tabmenu li.selected a, 
.side, 
.morelink a, 
.titlebox h1 a, 
.fancy-toggle-button .active, 
.titlebox .md, 
#search input[type=text], 
.sidecontentbox .title h1, 
.sidecontentbox .content a, 
.sidecontentbox a.helplink, 
.link .title, 
.link .score, 
.link .usertext .md, 
.link .flat-list, 
.submit-page textarea,
.roundfield input[type=url],
.roundfield input[type=text],
.login-form-side input[type=text],
.login-form-side input[type=password],
.linefield textarea,
.linefield input[type="text"],
.flairlist .flaircell input[type="text"],
.linkinfo .shortlink input,
.search-page #search input[type=text], 
.linkflairlabel, 
.flair, 
.wiki-page .wiki-page-content .md.wiki h1, 
.wiki-page .wiki-page-content .md.wiki p,
.wiki-page .wiki-page-content .md.wiki .md.wiki blockquote, 
.stylesheet-customize-container textarea, 
.comments-page .tagline, 
.menuarea .spacer .drop-choices.lightdrop, 
.comments-page .comment .md, 
.comments-page textarea, 
.link .usertext .md h2,
.comments-page .comment .md h2,
.link .usertext .md h3,
.comments-page .comment .md h3,
.link .usertext .md h4,
.comments-page .comment .md h4,
.link .usertext .md h5,
.comments-page .comment .md h5, 
.footer, 
.popup, 
body.res-nightmode, .pagename {
    font-family: 'Myriad Pro', 'Source Sans Pro', 'Droid Sans', Verdana, Arial, sans-serif!important;
}