/* ================================
 * ASOIAF despoiler
 *
 * CSS enhancements for /r/asoiaf
 *
 * by /u/nowonmai666
 *
 * http://nowonmai666.github.com/asoiaf-extensions
 * 
 * ================================ */

/* Fixes are for v3.1 of /r/asoiaf stylesheet */

/* Header */

#header { height: 100px!important; }
#header:after {
    position: absolute;
    top: 100px!important;
}

/* move ASOIAF link back to where it is on other subs */
.pagename a {
    display: inline-block!important;
    visibility: visible!important;
    top: 98px!important;
    left: auto!important;
    margin-left: 5px!important;
    width: auto!important;
    height: auto!important;
    background-image: none!important;
    color: black!important;
    text-indent: 0px!important;
    text-align: left!important;	
}
.pagename a:hover { background-position: 0px -75px }
.pagename a:active { background-position: 0px -75px }
.pagename { visibility: visible!important }

#header .tabmenu {
	text-align: left!important;
	margin-left: 100px!important;
	top: 96px!important;
}

.tabmenu li a {
	margin: 0px 5px!important;
	padding: 0px!important;
	border-width: 0!important;
}
.tabmenu li a:hover, .tabmenu li.selected a {
	border-width: 0!important;
}

.tabmenu li.selected a, .tabmenu li.selected a:visited {
	color: #111!important;
    text-shadow: 0 0 4px #933, 0 0 2px #fff;	
}

#header-img { top: 10px!important;}

#header-bottom-right {
    top: 100px!important
    }

/*give me my karma back*/
.user .userkarma { display: inline!important }

/* ========= CONTENT AREA ========== */

/* Move the top announcement thingy and hide the horrid separators */ 

.titlebox h6:nth-of-type(1) {
    top: 135px!important;
    color: transparent!important;
}


/* Improve visibility of tiny low-contrast text */
 
.domain, .domain a, .tagline {
	color: #333 !important;
	vertical-align: baseline!important;
}

.entry .buttons li a { font-weight: bold!important;}

/* unhide what ought not to be hidden */
#siteTable div.thing ul { visibility: visible!important }

/* ========= COMMENT PAGES ========== */

/* Fix what they did to the line above the reply box */

.panestack-title .title {
	display: inline!important;
}
.panestack-title {
	border-bottom: 0px dotted gray!important;
	display: block!important;
	width: 100%!important;
	margin: 0!important;
}
.RESSubscriptionButton {
    border: 1px solid rgba(51,51,51,0.3)!important;
    border-radius: 4px!important;
    color: #477AAD!important;
}
.commentarea .menuarea {
    display: block!important;
    margin: 5px 0px!important;
    font-size: 150%!important
}

/* Here buttons, have a font! */

button { font-family:Verdana,Arial,sans-serif;}

/* Tame comment borders */
.comment, .comment:hover { border: 2px solid rgba(151,151,151,0.1)!important}

/* Subtler colours for comment cascade */
/* body background-color = #E4E4E0 although it has an image on top*/
.comments-page .comment { background-color: #e9e9e5 !important; }
.comments-page .comment .comment { background-color: #ebebe8 !important; }
.comments-page .comment .comment .comment { background-color: #ededeb !important; }
.comments-page .comment .comment .comment .comment { background-color: #f0f0ee !important; }
.comments-page .comment .comment .comment .comment .comment { background-color: #f2f2f0 !important; }
.comments-page .comment .comment .comment .comment .comment .comment { background-color: #f5f5f3 !important; }
.comments-page .comment .comment .comment .comment .comment .comment .comment { background-color: #f7f7f6 !important; }
.comments-page .comment .comment .comment .comment .comment .comment .comment .comment { background-color: #f9f9f9 !important; }
.comments-page .comment .comment .comment .comment .comment .comment .comment .comment .comment { background-color: #fcfcfb !important; }
.comments-page .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment { background-color: #fefefe !important; }



/* ========= SIMPLIFY SPOILER SCOPES ========== */

/* Gather all scoped spoilers */

/* meh, let's not for now ...

.linkflair-agot .thumbnail.default,
.linkflair-agot .thumbnail.self,
.linkflair-acok .thumbnail.default,
.linkflair-acok .thumbnail.self,
.linkflair-asos .thumbnail.default,
.linkflair-asos .thumbnail.self,
.linkflair-affc .thumbnail.default,
.linkflair-affc .thumbnail.self,
.linkflair-all .linkflairlabel,
.linkflair-adwd .thumbnail.default,
.linkflair-adwd .thumbnail.self,
.linkflair-dae .thumbnail.default,
.linkflair-dae .thumbnail.self {
    background-position: -102px -380px!important;
}

/* "none", "all" and other flairs unaltered */


/* ========= SIDEBAR ========== */

/* Rein in that crazy Submit button */
.titlebox .redditname { display:none; }
.morelink {
    position: relative!important;
    right: 0px!important;
    top: -91px!important;
}
/* submit button has to be displaced further on comments page */
.comments-page .morelink {
	top: -188px!important;
}
.submit-text { height: 0px!important; }

.titlebox > div:first-of-type {
	margin: -10px 0 10px !important;
}

.titlebox > div:nth-of-type(2) {
	margin-bottom: 10px!important;
}

.titlebox > div:nth-of-type(3) {
	margin: 10px 0px!important;
}

/* Lose the fugly paperbacks */

div.md { 
	background-image: none!important;
	padding-top: 0px!important
}

/* Make the sidebar items visible on touch screens (links remain inaccessible).  */

.side blockquote ul:active li {display:block!important}